routesproxy/src/main/resources/mySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" elementFormDefault="qualified"
           targetNamespace="main.webapp.xml"
           xmlns="main.webapp.xml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:element name="RouteService" type="RouteServiceType"/>
    <xs:element name="Route" type="RouteType"/>
    <xs:element name="RouteCreationSpec" type="RouteCreationSpecType"/>
    <xs:element name="RouteUpdateSpec" type="RouteUpdateSpecType"/>
    <xs:element name="RoutesQueryResult" type="RoutesQueryResultType"/>
    <xs:element name="RoutesQuerySpec" type="QuerySpecType"/>
    <xs:element name="RoutesQueryByNameSpec" type="RoutesQueryByNameSpecType"/>
    <xs:element name="RouteQueryByIdSpec" type="ByIdSpecType" />
    <xs:element name="RouteDeleteByIdSpec" type="ByIdSpecType" />

    <xs:element name="DistanceSumQuerySpec" type="EmptyType"/>
    <xs:element name="DistanceSumQueryResult" type="DistanceQueryResultType"/>
    <xs:element name="DeleteRouteByDistanceSpec" type="DeleteRouteByDistanceSpecType"/>


    <xs:element name="LocationService" type="LocationServiceType"/>
    <xs:element name="Location" type="LocationType"/>
    <xs:element name="LocationCreationSpec" type="LocationCreationSpecType"/>
    <xs:element name="LocationUpdateSpec" type="LocationUpdateSpecType"/>
    <xs:element name="LocationsQuerySpec" type="QuerySpecType"/>
    <xs:element name="LocationsQueryResult" type="LocationsQueryResultType"/>
    <xs:element name="LocationQueryByIdSpec" type="ByIdSpecType" />
    <xs:element name="LocationDeleteByIdSpec" type="ByIdSpecType" />


    <xs:element name="OperationStatusInfo" type="OperationStatusInfoType"/>
    <xs:element name="ErrorInfo" type="ErrorInfoType"/>

    <!-- ======================================================================================================= -->

    <xs:complexType name="EmptyType" />

    <xs:complexType name="ObjectType" abstract="true">
        <xs:sequence>
            <xs:element name="Discoverability" type="DiscoverabilityType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RouteServiceType">
        <xs:complexContent>
            <xs:extension base="ObjectType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LocationServiceType">
        <xs:complexContent>
            <xs:extension base="ObjectType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DistanceQueryResultType">
        <xs:complexContent>
            <xs:extension base="ObjectType">
                <xs:attribute name="Value" type="xs:long" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DeleteRouteByDistanceSpecType">
        <xs:attribute name="ExactDistance" type="xs:long" use="required"/>
    </xs:complexType>

    <xs:complexType name="OperationStatusInfoType">
        <xs:sequence>
            <xs:element name="Message" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="Status" type="OperationStatus" use="required"/>
    </xs:complexType>

    <xs:simpleType name="OperationStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Accomplished"/>
            <xs:enumeration value="Denied"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ErrorInfoType">
        <xs:sequence>
            <xs:element name="Message" type="xs:string"/>
            <xs:element name="StackTrace" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="Type" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="ByIdSpecType">
        <xs:attribute name="Id" type="id" use="required" />
    </xs:complexType>

    <xs:complexType name="QuerySpecType">
        <xs:sequence>
<!--            <xs:element name="Filter" type="QueryFilterSpecType" minOccurs="0" maxOccurs="1"/>-->
<!--            <xs:element name="SortOn" type="QuerySortingSpecType" minOccurs="0" maxOccurs="1"/>-->
            <xs:element name="Filter" type="string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SortOn" type="string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="PageSize" type="xs:int" use="optional"/>
        <xs:attribute name="PageNumber" type="xs:int" use="optional"/>
    </xs:complexType>

<!--    <xs:complexType name="QueryFilterSpecType">-->
<!--        <xs:sequence>-->
<!--            <xs:group ref="SqlExprGroup" />-->
<!--        </xs:sequence>-->
<!--    </xs:complexType>-->

<!--    <xs:group name="SqlExprGroup">-->
<!--        <xs:choice>-->
<!--            <xs:element name="Number" type="NumberLiteralSqlExprType" />-->
<!--            <xs:element name="String" type="StringLiteralSqlExprType" />-->
<!--            <xs:element name="Date" type="DateLiteralSqlExprType" />-->
<!--            <xs:element name="Field" type="FieldRefSqlExprType" />-->
<!--            <xs:element name="BinaryOp" type="BinaryOpSqlExprType" />-->
<!--            <xs:element name="UnaryOp" type="UnaryOpSqlExprType" />-->
<!--        </xs:choice>-->
<!--    </xs:group>-->

<!--    <xs:complexType name="SqlExprType" abstract="true">-->
<!--    </xs:complexType>-->

<!--    <xs:complexType name="NumberLiteralSqlExprType">-->
<!--        <xs:complexContent>-->
<!--            <xs:extension base="SqlExprType">-->
<!--                <xs:attribute name="Value" type="xs:double" use="required"/>-->
<!--            </xs:extension>-->
<!--        </xs:complexContent>-->
<!--    </xs:complexType>-->

<!--    <xs:complexType name="StringLiteralSqlExprType">-->
<!--        <xs:complexContent>-->
<!--            <xs:extension base="SqlExprType">-->
<!--                <xs:attribute name="Value" type="string" use="required"/>-->
<!--            </xs:extension>-->
<!--        </xs:complexContent>-->
<!--    </xs:complexType>-->

<!--    <xs:complexType name="DateLiteralSqlExprType">-->
<!--        <xs:complexContent>-->
<!--            <xs:extension base="SqlExprType">-->
<!--                <xs:sequence>-->
<!--                    <xs:element name="Stamp" type="localDate" />-->
<!--                </xs:sequence>-->
<!--            </xs:extension>-->
<!--        </xs:complexContent>-->
<!--    </xs:complexType>-->

<!--    <xs:complexType name="FieldRefSqlExprType">-->
<!--        <xs:complexContent>-->
<!--            <xs:extension base="SqlExprType">-->
<!--                <xs:attribute name="Name" type="EntityFieldName" use="required"/>-->
<!--            </xs:extension>-->
<!--        </xs:complexContent>-->
<!--    </xs:complexType>-->

<!--    <xs:complexType name="BinaryOpSqlExprType">-->
<!--        <xs:complexContent>-->
<!--            <xs:extension base="SqlExprType">-->
<!--                <xs:sequence>-->
<!--                    <xs:group ref="SqlExprGroup" />-->
<!--                    <xs:group ref="SqlExprGroup" />-->
<!--                </xs:sequence>-->
<!--                <xs:attribute name="Kind" type="SqlBinaryOpKind"/>-->
<!--            </xs:extension>-->
<!--        </xs:complexContent>-->
<!--    </xs:complexType>-->

<!--    <xs:complexType name="UnaryOpSqlExprType">-->
<!--        <xs:complexContent>-->
<!--            <xs:extension base="SqlExprType">-->
<!--                <xs:group ref="SqlExprGroup" />-->
<!--                <xs:attribute name="Kind" type="SqlUnaryOpKind"/>-->
<!--            </xs:extension>-->
<!--        </xs:complexContent>-->
<!--    </xs:complexType>-->

<!--    <xs:simpleType name="SqlBinaryOpKind">-->
<!--        <xs:restriction base="string">-->
<!--            <xs:enumeration value="And"/>-->
<!--            <xs:enumeration value="Or"/>-->
<!--            &lt;!&ndash;<xs:enumeration value="Equal"/>&ndash;&gt;-->

<!--            <xs:enumeration value="Sub"/>-->
<!--            <xs:enumeration value="Sum"/>-->
<!--            <xs:enumeration value="Mul"/>-->
<!--            <xs:enumeration value="Div"/>-->

<!--            <xs:enumeration value="Contains"/>-->
<!--            <xs:enumeration value="Equal"/>-->
<!--            <xs:enumeration value="NotEqual"/>-->
<!--            <xs:enumeration value="Greater"/>-->
<!--            <xs:enumeration value="GreaterOrEqual"/>-->
<!--            <xs:enumeration value="Less"/>-->
<!--            <xs:enumeration value="LessOrEqual"/>-->
<!--        </xs:restriction>-->
<!--    </xs:simpleType>-->

<!--    <xs:simpleType name="SqlUnaryOpKind">-->
<!--        <xs:restriction base="string">-->
<!--            <xs:enumeration value="Not"/>-->
<!--            <xs:enumeration value="Neg"/>-->
<!--        </xs:restriction>-->
<!--    </xs:simpleType>-->

<!--    <xs:complexType name="QuerySortingSpecType">-->
<!--        <xs:choice minOccurs="1" maxOccurs="unbounded">-->
<!--            <xs:element name="Field" type="QuerySortingFieldSpecType"/>-->
<!--        </xs:choice>-->
<!--    </xs:complexType>-->

<!--    <xs:complexType name="QuerySortingFieldSpecType">-->
<!--        <xs:attribute name="Name" type="EntityFieldName" use="required"/>-->
<!--    </xs:complexType>-->

<!--    <xs:simpleType name="EntityFieldName">-->
<!--        <xs:restriction base="string">-->
<!--            <xs:enumeration value="name"/>-->
<!--            <xs:enumeration value="id"/>-->
<!--            <xs:enumeration value="distance"/>-->
<!--            <xs:enumeration value="created"/>-->
<!--            <xs:enumeration value="coordX"/>-->
<!--            <xs:enumeration value="coordY"/>-->
<!--            <xs:enumeration value="fromId"/>-->
<!--            <xs:enumeration value="toId"/>-->
<!--            <xs:enumeration value="fromX"/>-->
<!--            <xs:enumeration value="fromY"/>-->
<!--            <xs:enumeration value="fromZ"/>-->
<!--            <xs:enumeration value="toX"/>-->
<!--            <xs:enumeration value="toY"/>-->
<!--            <xs:enumeration value="toZ"/>-->

<!--            <xs:enumeration value="x"/>-->
<!--            <xs:enumeration value="y"/>-->
<!--            <xs:enumeration value="z"/>-->
<!--        </xs:restriction>-->
<!--    </xs:simpleType>-->

    <!-- Region routes -->

    <xs:complexType name="RoutesQueryByNameSpecType">
        <xs:attribute name="Name" type="string" use="required"/>
    </xs:complexType>

    <xs:complexType name="RoutesQueryResultType">
        <xs:complexContent>
            <xs:extension base="ObjectType">
                <xs:sequence>
                    <xs:element name="Routes" type="RoutesListType"/>
                </xs:sequence>
                <xs:attribute name="PageSize" type="xs:long" use="required"/>
                <xs:attribute name="PageNumber" type="xs:long" use="required"/>
                <xs:attribute name="PagesCount" type="xs:long" use="required"/>
                <xs:attribute name="TotalCount" type="xs:long" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RoutesListType">
        <xs:sequence>
            <xs:element ref="Route" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LocationsListType">
        <xs:sequence>
            <xs:element ref="Location" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RouteUpdateSpecType">
        <xs:complexContent>
            <xs:extension base="RouteType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RouteType">
        <xs:complexContent>
            <xs:extension base="ObjectType">
                <xs:sequence>
                    <xs:group ref="RouteInfoGroup"/>
                    <xs:element name="CreationDate" type="localDate"/>
                </xs:sequence>
                <xs:attribute name="Id" type="id" use="required"/>
                <xs:attribute name="Name" type="nonEmptyString" use="required"/>
                <xs:attribute name="Distance" type="distance" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LocationUpdateSpecType">
        <xs:complexContent>
            <xs:extension base="LocationType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LocationType">
        <xs:complexContent>
            <xs:extension base="ObjectType">
                <xs:attribute name="Id" type="id" use="required"/>
                <xs:attribute name="X" type="xs:int" use="required"/>
                <xs:attribute name="Y" type="xs:int" use="required"/>
                <xs:attribute name="Z" type="xs:float" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RouteCreationSpecType">
        <xs:sequence>
            <xs:group ref="RouteInfoGroup"/>
        </xs:sequence>
        <xs:attribute name="Name" type="nonEmptyString" use="required"/>
        <xs:attribute name="Distance" type="distance" use="required"/>
    </xs:complexType>

    <xs:group name="RouteInfoGroup">
        <xs:sequence>
            <xs:element name="Coordinates" type="CoordinatesType"/>
            <xs:element name="From" type="LocationType"/>
            <xs:element name="To" type="LocationType"/>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="LocationsQueryResultType">
        <xs:complexContent>
            <xs:extension base="ObjectType">
                <xs:sequence>
                    <xs:element name="Locations" type="LocationsListType"/>
                </xs:sequence>
                <xs:attribute name="PageSize" type="xs:long" use="required"/>
                <xs:attribute name="PageNumber" type="xs:long" use="required"/>
                <xs:attribute name="PagesCount" type="xs:long" use="required"/>
                <xs:attribute name="TotalCount" type="xs:long" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LocationCreationSpecType">
        <xs:attribute name="X" type="xs:int" use="required"/>
        <xs:attribute name="Y" type="xs:int" use="required"/>
        <xs:attribute name="Z" type="xs:float" use="required"/>
    </xs:complexType>

    <xs:complexType name="CoordinatesType">
        <xs:sequence/>
        <xs:attribute name="X" type="coordX" use="required"/>
        <xs:attribute name="Y" type="coordY" use="required"/>
    </xs:complexType>

    <xs:complexType name="localDate">
        <xs:attribute name="Mills" type="xs:long" use="required"/>
    </xs:complexType>

    <xs:simpleType name="nonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="id">
        <xs:restriction base="xs:long">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="distance">
        <xs:restriction base="xs:long">
            <xs:minExclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="coordX">
        <xs:restriction base="xs:int">
            <xs:maxInclusive value="241"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="coordY">
        <xs:restriction base="xs:double">
            <xs:maxInclusive value="180"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- EndRegion -->

    <!-- Region discoverability -->

    <xs:complexType name="DiscoverabilityType">
        <xs:sequence>
            <xs:element name="Links" type="LinksListType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Actions" type="ActionsListType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LinksListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Link" type="LinkType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="LinkType">
        <xs:attribute name="Name" type="string" use="required"/>
        <xs:attribute name="Id" type="id" use="optional"/>
        <xs:attribute name="Kind" type="string" use="required"/>
        <xs:attribute name="Href" type="string" use="required"/>
        <xs:attribute name="Relation" type="LinkRelationType" use="required"/>
    </xs:complexType>

    <xs:simpleType name="LinkRelationType">
        <xs:restriction base="string">
            <xs:enumeration value="Up"/>
            <xs:enumeration value="Down"/>
            <xs:enumeration value="Forward"/>
            <xs:enumeration value="Backward"/>
            <xs:enumeration value="Related"/>
            <xs:enumeration value="Alternate"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ActionsListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Action" type="ActionType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="ActionType">
        <xs:attribute name="Name" type="string" use="required"/>
        <xs:attribute name="Method" type="HttpMethodType" use="required"/>
        <xs:attribute name="Href" type="string" use="required"/>
        <xs:attribute name="ParamKind" type="string" use="optional"/>
        <xs:attribute name="ResultKind" type="string" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="HttpMethodType">
        <xs:restriction base="string">
            <xs:enumeration value="Post"/>
            <xs:enumeration value="Put"/>
            <xs:enumeration value="Get"/>
            <xs:enumeration value="Delete"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- EndRegion -->

    <xs:simpleType name="string">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

</xs:schema>
